/* footer */

.l-footer
  width: 100%
  height: 60px
  color: palette('basic','white')
  background: palette('site','skyblue')
  &.is-fixed
    position: fixed
    bottom: 0
    left: 0
  &__inner
    width: 100%
    height: 100%
    max-width: $width-mx
    padding: 2.2rem 4rem
    margin: 0 auto
    a
      color: palette('basic','white')

  &__pageTop
    width: 62px
    height: 62px
    line-height: 1
    padding: 0
    z-index: 1000
    +position(fixed, auto, 15px, 0, auto)
    @media(max-width: $width-tb)
      width: 56px
      height: 56px
    a
      position: relative
      width: 100%
      height: 100%
      text-align: center
      text-decoration: none
      margin: 0 0 0 auto
      padding: 15px 0 0 0
      display: block
      background: rgba(0, 0, 0, 0.3)
      transition: all 0.2s ease-in-out
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3)
      tap-highlight-color: rgba(0, 0, 0, 0.3)
      &::after
        display: block
        width: 30px
        content: url(/sinicx/assets/img/common/pagetop.svg)
        text-align: center
        margin: 0 auto
        padding: 0
        transition: all 0.2s $ease-in-out
        @media(max-width: $width-tb)
          width: 26px
      &:hover
        &::after
          -webkit-transform: translateY(-5px)
          transform: translateY(-5px)
    &__txt
      display: none

  &__link
    margin: 0
    float: left
    font-size: 1.3rem
    >a:not(:last-of-type)
      margin-right: 1em
      &::after
        content: '|'
        margin-left: 1em

  &__copyright
    margin: 0
    float: right
    font-size: 1.1rem

  &__social
    float: right

  &__ed
    display: inline-block
    width: 30px
    margin-right: 18px
    transform: translateY(-8px)
    img
      width: 100%

  &__li
    display: inline-block
    width: 39px
    margin-right: 11px
    transform: translateY(-8px)
    img
      width: 100%

  &__fb
    display: inline-block
    width: 30px
    margin-right: 20px
    transform: translateY(-8px)
    img
      width: 100%

  &__tw
    display: inline-block
    width: 30px
    margin-right: 20px
    transform: translateY(-8px)
    img
      width: 100%


@media(max-width: $width-pc)
  .l-footer
    height: auto
    &__inner
      display: flex
      flex-direction: column
      align-items: center
      padding: 2.2rem 0 0 0

    &__link
      float: none
      margin-bottom: 2.2rem

    &__copyright
      float: none
      width: 100%
      padding: 1em 0
      color: palette('basic','text')
      background: palette('basic','white')
      line-height: 1.4
      text-align: center

    &__social
      float: none
      order: -1
      transform: none
      margin: 0 0 1rem 0

    &__tw
      margin-right: 0

@media(max-width: $width-sp)
  .l-footer
    &__link
      a
        font-size: 1.2rem

@media(max-width: $width-sp2)
  .l-footer
    &__link
      a
        font-size: 1rem
